name: Python CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build-and-test:
    runs-on: windows-latest

    strategy:
      matrix:
        python-version: [3.11]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build wheel pytest pytest-html
          python -m build --wheel --outdir dist

      - name: Upload wheel artifact
        uses: actions/upload-artifact@v5
        with:
          name: log_analyzer_wheel
          path: dist/

      - name: Install built wheel
        shell: powershell
        run: |
            $whl = Get-ChildItem dist\*.whl | Select-Object -First 1
            pip install $whl.FullName
            
      - name: Install test dependencies
        run: |
          pip install -r reqs/requirements_test.txt

      - name: Run tests with JSON report
        run: |
          pytest test/ --maxfail=1 --disable-warnings -q --html=pytest-report.html --self-contained-html

      - name: Upload pytest JSON report
        uses: actions/upload-artifact@v5
        with:
          name: pytest-report
          path: pytest-report.html
