name: Python CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.10, 3.11]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build wheel pytest pytest-json-report

      - name: Build wheel
        run: |
          python -m build --wheel --outdir dist

      - name: Upload wheel artifact
        uses: actions/upload-artifact@v3
        with:
          name: log_analyzer_wheel
          path: dist/*.whl

      - name: Install wheel
        run: |
          pip install dist/*.whl
            
      - name: Install test dependencies
        run: |
          pip install -r reqs/requirements_test.txt

      - name: Run tests with JSON report
        run: |
          pytest test/ --maxfail=1 --disable-warnings -q --html=pytest-report.html --self-contained-html

      - name: Upload pytest JSON report
        uses: actions/upload-artifact@v3
        with:
          name: pytest-report
          path: pytest-report.json
